{#
/**
 * @file
 * Olivero's theme implementation to display a node.
 */
#}

{% set layout = layout ? 'layout--' ~ layout|clean_class %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    layout ? 'grid-full',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <header class="{{ layout }}">
    {{ title_prefix }}
    {% if label and view_mode != "full" %}
      <h2{{ title_attributes.addClass('node__title') }}>
        <a href="{{ url }}" rel="bookmark">{{ label }}</a>
      </h2>
    {% endif %}
    {{ title_suffix }}

    {% if display_submitted %}
      <div class="node__meta">
        {% if author_picture %}
          <div class="node__author-image">
            {{ author_picture }}
          </div>
        {% endif %}
        <span{{ author_attributes }}>
          {{ 'By'|t }} <span class="node__author">{{- author_name -}}</span>, {{ date }}
        </span>
        {{ metadata }}
      </div>
    {% endif %}
  </header>

  <div{{ content_attributes.addClass('node__content', layout) }}>
    {# The Menu and View Menu are duplicates; remove field_cta if it contains "View Menu" #}
    {% if 'View Menu' in content.field_cta[0]['#title'] %}
      {{ content|without('comment', 'field_image', 'body', 'field_address', 'field_venue_type', 'field_cta') }}
    {% else %}
      {{ content|without('comment', 'field_image', 'body', 'field_address', 'field_venue_type') }}
    {% endif %}
    {% if content.field_image[0] %}
      {% set haveImg = 'image-' %}
    {% else %}
      {% set haveImg = '' %}
    {% endif %}
    {% if content.body[0] or content.field_image[0] %}
      <div class="node__venue-content--{{ haveImg }}body-wrapper">
        {% if content.field_image[0] %}
          {{ content.field_image }}
        {% endif %}
        {% if content.body[0] %}
          {{ content.body }}
        {% endif %}
      </div>
    {% endif %}
  </div>

  {% if content.comment %}
    <div id="comments" class="{{ layout }}">
      {{ content.comment }}
    </div>
  {% endif %}
</article>
